<h1>Amazing local <%=cuisines%> restaurants</h1>
<div class="container">
    <ul>
        <% stores.forEach(store=> { %>
            <% if (store.cuisine === cuisines ) { %>
                <div class="cards">
                    <div class="font">
                        <a href="/biz/<%=store.cuisine%>/<%=store.name%>">
                            <%= store.name %>
                        </a>
                    </div>
                    <div class="cardButtonsParent" >
                        <form class='removeFormMargin' action="/<%=store.id%>?_method=DELETE" method="POST">
                            <input 
                                class="button cancel font"
                                type="submit"
                                value="Delete"
                            />
                        </form>
                    </div>
                </div>
                <% }%>
                    <% }) %>
    </ul>
</div>

<div class="buttonContainer">
    <a class="button add font" href="/new">Add</a>
</div>