<h2> Testing</h2>
<div class="container">
<%= name %>
<div class="cardButtonsParent">
    <% store.forEach(store=> { %>
        <% if (store.name===name ) { %>
            <br>
            <%=store.location %>
            <%=store.tags %>
            <%=store.hours %>
            <a class="button submit font" href="/<%=store.id%>">Edit</a>
        <% } %>
    <% }) %>
</div>
</div> 