<link rel="stylesheet" type="text/css" href="/main.css">

<section class="wrapper">
    <h2>
        Most Popular
        <%=cuisines%> Restaurants
    </h2>

    <div class="container">
        <div class="nav">
            <ul>
                <li><a class="button font" href="/biz">Home</a></li>
                <li><a class="button add font" href="/new">Add</a></li>
            </ul>
        </div>
        <ul>
            <div class="grid-container">
                <% stores.forEach(store=> { %>
                    <% if (store.cuisine===cuisines ) { %>
                        <div class="store-card">
                            <a href="/biz/<%=store.cuisine%>/<%=store.name%>">
                                <img src="<%=store.image%>">
                                <div class="store-content">
                                    <p><b><u><%= store.name %></u></b></p>
                                    <i><%= store.location %></i>
                                </div>
                            </a>

                            <div class="cardButtonsParent">
                                <form class='removeFormMargin' action="/<%=store.id%>?_method=DELETE" method="POST">
                                    <input class="cancel-button" type="submit" value="Delete" />
                                </form>
                            </div>
                        </div>
                        <% }%>
                            <% }) %>
            </div>
        </ul>
    </div>
    </article>
</section>